:root {
  font-family:'Montserrat';
}

$margin: 1rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-heavy: 700;

$border-radius-sm: .5rem;
$border-radius-md: 1rem;
$border-radius-lg: 1.5rem;

$color-white: white;
$color-grey-light: lightgrey;
$color-grey-normal: grey;
$color-grey-dark: darkgrey;